html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: gainsboro;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.3s all ease-in-out;
}

a {
  text-decoration: none;
}
a i {
  color: black;
}

.up {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background-color: grey;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
.up:hover {
  background-color: red;
}

.top-wrap {
  margin: 0;
  border-bottom: 1px solid grey;
}
.top-wrap ul {
  padding: 5px 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.social-link {
  display: flex;
  gap: 20px;
}
.social-link i {
  font-size: 20px;
}
.social-link i:hover {
  color: red;
}

.main {
  height: 84vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main .main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  width: 60%;
}
.main .main-content h2 {
  margin-bottom: 30px;
}
.main .main-content h2 span {
  color: red;
  border-bottom: 1px solid grey;
}
.main .main-content h5 {
  width: 80%;
}
.main .bg-img {
  width: 40%;
  display: flex;
  align-items: center;
  padding-right: 60px;
}
.main .bg-img img {
  border-radius: 10px;
  width: 100%;
}

#about-me h2 {
  padding-left: 50px;
  margin-bottom: 60px;
  color: #102C57;
}
#about-me .about-me-img {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#about-me .about-me-img img {
  width: 40vw;
  height: 50vh;
  border-radius: 10px;
}
#about-me .about-me-content {
  margin-top: 40px;
  text-align: center;
}
#about-me .about-me-content p {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
#about-me .about-me-content button {
  display: none;
}
#about-me .about-me-content #moreText {
  display: inline;
}

#our-service {
  margin-top: 100px;
  padding-left: 50px;
}
#our-service h2 {
  color: #102C57;
}
#our-service p {
  margin-top: 10px;
  text-align: start;
}
#our-service .cards-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
#our-service .cards-container .cards {
  height: 360px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#our-service .cards-container .cards img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
#our-service .cards-container .cards p {
  margin: 0;
}

.modal ul li {
  list-style: disc;
}

#our-team {
  margin-top: 100px;
  padding-left: 50px;
}
#our-team h2 {
  color: #102C57;
}
#our-team p {
  margin-top: 10px;
  text-align: start;
}
#our-team .members-container {
  width: 95%;
}

#contact-us {
  margin-top: 100px;
  padding-left: 50px;
}
#contact-us h2 {
  color: #102C57;
}
#contact-us .container {
  margin-top: 40px;
}
#contact-us .container p {
  margin: 0;
}
#contact-us .container .left-detail-contact-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.main, #about-me, #our-service, #our-team, #contact-us, footer {
  background-color: white;
  margin: 10px 0;
}

#about-me, #our-service, #our-team, #contact-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  margin-bottom: 0;
}

iframe {
  width: 500px;
  height: 350px;
}

@media screen and (max-width: 480px) {
  .top-wrap {
    display: none;
  }
  .main {
    height: 90vh;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .main .main-content {
    padding-left: 0;
    width: 100%;
  }
  .main .main-content h2 {
    text-align: center;
  }
  .main .main-content h2 span {
    display: block;
    border-bottom: none;
  }
  .main .main-content h5 {
    padding-left: 20px;
    width: 100%;
  }
  .main .bg-img {
    width: 100%;
    padding: 0 20px;
  }
  #about-me, #our-service, #our-team, #contact-us {
    padding-left: 20px;
  }
  #about-me h2, #our-service h2, #our-team h2, #contact-us h2 {
    padding: 0;
  }
  #about-me h2 {
    margin-bottom: 30px;
  }
  #about-me .about-me-img {
    padding: 0 20px 0 0;
  }
  #about-me .about-me-img img {
    width: 90vw;
    height: 30vh;
    border-radius: 10px;
  }
  #about-me .about-me-content {
    text-align: start;
  }
  #about-me .about-me-content p {
    width: 90%;
    text-align: start;
    margin: 0;
  }
  #about-me .about-me-content button {
    margin-top: 10px;
    display: block;
  }
  #about-me .about-me-content #moreText {
    display: none;
  }
  iframe {
    width: 95%;
    height: 330px;
  }
  .up {
    right: 30px;
    bottom: 40px;
  }
  .up:hover {
    background-color: gray;
  }
}/*# sourceMappingURL=style.css.map */